# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
out
gen
.gitignore
.idea/dataSources.local.xml
.idea/inspectionProfiles/
.idea/php.xml
.idea/phpspec.xml
.idea/workspace.xml
.env
composer.phar
storage/debugbar/
vendor/composer/autoload_static.php
vendor/predis/
